html body {
	background-color: white;
}

body h1 {
	margin: auto;
	text-align: center;
	height: 50px;
	margin-top: 30px;
	font-weight: 100;
	font-family: Impact;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	width: 70%;
	margin: auto;
	align-items: flex-start;
}

.flex-item {
	margin: auto;
}

.item {
	text-align: center;
	font-weight: 200;
}

.inline {
	display: inline-flex;
	text-align: center;
	margin: auto;
	width:100%;
}

.center{
	margin: auto;
}

.breakTime{
	margin-left: -40px;
	margin-right: -40px;
	font-size: x-large;
}

.sessionTime{
    margin-left: -40px;
    margin-right: -40px;
    font-size: x-large;
}

button {
    background: none;
    border: 0;
    outline: 0;
}

div button:focus {
    outline: none;
}

button:hover {
	cursor: pointer;
}


.clock {
	display: block;	

	width: 400px;
	margin-top: 50px;
	text-align: center;
}

#clockTime {
	line-height: 50px;
	font-size: 600%;
	margin-top: 40px;
	margin-bottom: 20px;
	font-weight: 200;
}

#title {
	
	cursor: pointer;
	font-weight: 200;
}

.controls {
	margin: 20px;
}

.length {
	margin-top: 40px;
}

#start {
	background-color: #5d9451;
	border-radius: 10px;
	font-weight: 200;
}

#stop {
	background-color: #e74c3c;
	border-radius: 10px;
	font-weight: 200;
}

#reset {
	background-color: #bdc3c7;
	border-radius: 10px;
	font-weight: 200;
}

#start:active {
    position:relative;
    top:2px;

}

#stop:active {
    position:relative;
    top:2px;
}
#reset:active {
    position:relative;
    top:2px;
}


