html body {
	background-color: white;
}

body h1 {
	margin: auto;
	text-align: center;
	height: 100px;
	margin-top: 30px;
	font-family: verdana, sans-serif;
	color: grey;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	width: 70%;
	margin: auto;
	align-items: flex-start;
	

}

.flex-item {
	margin: auto;
	
}

.item {
	text-align: center;
}

.inline {
	display: inline-flex;
	text-align: center;
	margin: auto;
	width:100%;
}

.center{
	margin: auto;
}

.breakTime{
	margin-left: -40px;
	margin-right: -40px;
	font-size: x-large;
}

.sessionTime{
    margin-left: -40px;
    margin-right: -40px;
    font-size: x-large;
}

button {
    background: none;
    border: 0;
    outline: 0;
}

button:focus {
	border: 0;
    outline: 0;
}

button:hover {
	cursor: pointer;
}

.clock {
	display: block;	
	height: 100px;
	width: 400px;
	margin-top: 50px;
	text-align: center;
}

#clockTime {
	line-height: 50px;
	font-size: 400%;
}

#title {
	font-size: 150%;
}

.clock:hover {
	cursor: pointer;
}

.controls {
	margin: 20px;
}

#start {
	background-color: green;
}

#stop {
	background-color: red;
}

#reset {
	background-color: grey;
}

