h1 {
	margin: auto;
	text-align: center;
	height: 100px;
	margin-top: 40px;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	width: 70%;
	margin: auto;
	align-items: flex-start;
	background-color: grey;

}

.flex-item {
	margin: auto;
	background: orange;
}

.item {
	text-align: center;


}

.inline {
	display: inline-flex;
	text-align: center;
	margin: auto;
	width:100%;
}

.center{
	margin: auto;
}

.breakTime{
	margin-left: -40px;
	margin-right: -40px;
	font-size: x-large;
}

